<% include partials/header %>

<div class="container">
<% if (match.players.length >= 4){ %> 
    <h5> You have <%=match.players.length %> players for Round <%= match.round %>:</h5>
          <% match.players.forEach(function(player){ %>
            <h5 style="display:inline"><%= player %></h5> 
            <% }); %>

<br>

<form action="/emailTeam" method="POST">
    <div class="form-group col-3">
        <input type="hidden" name="round" value="<%= match.round %>">
        <input type="hidden" name="players" value="<%= match.players.toString() %>">
        <input type="hidden" name="emailList" value="<%= emailList %>">
        <input type="submit" style="margin-top:10px" class="form-control btn btn-outline-success mb-2" value="Send to team">
    </div>
</form>

<br>

<h5>You must remove players before you can add any more:</h5>
    <form action="/editPlayers" method="POST">
        <div class="form-group col-3">
            <button type="submit" class="form-control btn btn-outline-danger mb-2" name="playerEditRound" value="<%= match.round %>">Remove Players</button>
        </div>
    </form>
    
<br>

<h5>Otherwise return to Administrator or Home page:</h5>
    <div class="form-inline col-3">
        <a style="margin-right: 10px" href="/admin" class="form-control btn btn-outline-primary mb-2">Administrator</a>
        <a href="/season_prac" class="form-control btn btn-outline-primary mb-2">Home</a>
    </div>
<% } else { %>

<% if (match.players.length){ %>
    <h5> Current players in Round <%= match.round %>:</h5>
        <% match.players.forEach(function(player){ %>
            <h5 style="display:inline"><%= player %></h5>
       <% }); %>
<br><br>
    <form action="/addPlayers?_method=PUT" method="POST">
    <div class="row">
        <div class="form-group col-3">
            <input type="hidden" id="round" class="form-control" name="round" value="<%=round%>">
            <input type="text" id="player" class="form-control" placeholder="Enter another player" name="player">
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Add another player</button>
    </form>
    <% } else { %>    
<h5>There are currently no players for Round <%= match.round %></h5>
<h5>Add a player:</h5>
    <form action="/addPlayers?_method=PUT" method="POST">
    <div class="row">
        <div class="form-group col-3">
            <input type="hidden" id="round" class="form-control" name="round" value="<%= round %>">
            <input type="text" id="player" class="form-control" placeholder="Enter player name" name="player">
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Add a player</button>
    </form>
    <% } %>
    
<br>
    
    <h5>Otherwise return to Administrator or Home page:</h5>
      <div class="form-inline col-3">
            <a style="margin-right: 10px" href="/admin" class=" form-control btn btn-outline-primary mb-2">Administrator</a>
            <a href="/season_prac" class="form-control btn btn-outline-primary mb-2">Home</a>
        </div>


<% } %>





</div>
<% include partials/footer%>
